<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthprotection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_newapp"
        android:label="Health Expert"
        android:roundIcon="@mipmap/ic_newapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthProtection">
        <activity
            android:name=".health_static.userAppoinment.UserSeeAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".health_static.DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".health_static.doctor_activity.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".health_static.SeeDocListActivity"
            android:exported="false" />
        <activity
            android:name=".health_static.admin.AdminActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".health_static.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".health_static.DashboardActivityRahul"
            android:exported="false" />
        <activity
            android:name=".health_static.authentication.UserActivity"
            android:exported="false" />
        <activity
            android:name=".health_static.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>